*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a img{
    border-radius: 100px;
}

p{
    text-align: justify;
}


body{
    background: rgb(223,203,20);
    background: radial-gradient(circle, rgba(223,203,20,1) 2%, rgba(3,135,162,0.9028653697807247) 42%, rgba(1,27,57,0.9140698515734419) 92%);}

a {
    text-decoration: none;
    color: black;
    
}
.myDropDown
{
   height: 200px;
   overflow: auto;
}

.navbar-light .navbar-nav .nav-link {
    
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    background: rgb(84, 177, 231);
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s ease-in-out;
    border: 2px solid #4753fc;
    padding: 10px 10px;
    margin: 20px 20px;
    border-radius: 5px;
  }
  
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link:hover {
    border: 1px dotted #0bc2a9;
    padding: 10px 10px;
    background: #027794;
  }

  /*Login and Sign Up Page Start*/

  body {
    background-color: #344a72;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .signup-box {
    width: 500px;
    height: 700px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 500px;
    height: 350px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 460px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 460px;
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #cbf3e9;
  }
  
/*Login and Sign Up End */  